Source: roboto-all
Section: metapackages
Priority: optional
Maintainer: Flora <2321901849@qq.com>
Build-Depends: debhelper-compat (= 12)

Package: roboto-all
Architecture: all
Depends: ${misc:Depends}, roboto-base (>= 1.0.0), roboto-description (>= 1.0.0), roboto-bms (>= 1.0.0), roboto-imu (>= 1.0.0), roboto-motors (>= 1.0.0), roboto-example (>= 1.0.0), roboto-inference (>= 1.0.0), roboto-deploy (>= 1.0.0)
Description: Metapackage for RoboParty robot software stack
 This package installs all the necessary robot ROS 2 drivers,
 examples, models, and dependencies for the RoboParty robots.
